body {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: clip;
  background: radial-gradient(at top, transparent 0%, transparent 50%, rgba(var(--light), 0.15));
}

main {
  background-color: rgb(var(--light));
  margin: 0;
  padding: 0 0 1em;
  box-shadow: 0px 0px 2px 1px rgb(var(--light));
}

header h1 {
  font-family: var(--serif);
  font-weight: bolder;
  font-size: min(12.5vw, 7.5em);
  margin: 0;
  padding: 0;
  text-shadow: 2px 0px 17px rgba(0, 0, 0, 0.8);
}

@keyframes sunflower {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(-360deg);
  }
}
header .sunflower {
  position: absolute;
  z-index: -1;
  max-height: 250%;
  top: -35%;
  animation: 120s linear infinite sunflower;
}

header .border {
  object-fit: cover;
  min-width: 100%;
  max-width: 250%;
  pointer-events: none;
  transform: translateY(2px);
}

p {
  color: rgb(var(--dark));
}

.links {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 8em;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.links li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .links li a svg {
  fill: rgb(var(--light));
  height: min(calc(4vw + 1rem), 3rem);
  transition: fill 0.5s;
}

main .links li a svg {
  fill: rgb(var(--light));
  height: 2rem;
  width: 2rem;
}

main .links li a {
  transition: background-color 0.5s;
  padding: 0.25em;
  background-color: rgba(var(--dark), 0.9);
  border-radius: 4em;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.3);
}

.cover-art {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main .background-stripe {
  position: absolute;
  width: 150vw;
  height: 60%;
  max-height: 30rem;
  top: 50%;
  transform: translateY(-50%) rotate(-10deg);
  background: linear-gradient(0deg, rgba(var(--accent), 0) 0%, rgba(var(--accent), 1) 20%, rgba(var(--accent), 1) 80%, rgba(var(--accent), 0) 100%);
  pointer-events: none;
}

@keyframes flower-tile {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 200% 0%;
  }
}

main .background-flower {
  background-image: url("resources/images/flower_tile.png");
  background-size: contain;
  position: absolute;
  height: 90%;
  max-height: 40rem;
  min-width: 110vw;
  aspect-ratio: 1920 / 396;
  top: 50%;
  transform: translateY(-50%) rotate(-10deg);
  animation: 30s linear infinite flower-tile;
  pointer-events: none;
}


main {
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

main .cover {
  margin: auto;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
}

main .cover img {
  box-shadow: 2px 0px 30px 5px rgba(0, 0, 0, 0.4);
  width: 100%;
}

main .container {
  flex: 1;
  box-sizing: border-box;
  padding: 0 3em;
}

main .container:before {

}

.section-header p {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.section-header h2 {
  font-size: 5.5vw;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  margin: 0;
  color: rgb(var(--dark));
}

.section-header {
  margin: 0.5em 0 1em 0;
}

main .link-container {
  margin: 0.5em 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 30rem;
  padding: 0em 1em;
}

.waveform-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  border-radius: 0.75em 0.75em 0 0;
  overflow: hidden;
  box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.5);
}

.waveform-container button {
  width: 4.5em;
  height: 4.5em;
  background: rgb(var(--light));
  border: none;
  border-radius: 4em;
  position: relative;
  transition: background-color 0.3s;
  cursor: pointer;
}

.waveform-container button svg {
  fill: rgb(var(--accent2));
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s;
}

.waveform-container button:not(.playing) svg.pause {
  opacity: 0;
}

.waveform-container button.playing svg.play {
  opacity: 0;
}

.waveform-controls {
  display: flex;
  width: 4.5em;
  gap: 0.5em;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  background: linear-gradient(-30deg, rgba(var(--accent2), 0.75), rgb(var(--accent2)));
  padding: 1em 0.5em;
}

.button-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 2.5px;
  background: rgba(var(--light), 0.3);
  outline: none; /* Remove outline */
  transition: opacity .2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 13px; /* Set a specific slider handle width */
  height: 13px; /* Slider handle height */
  background: rgb(var(--light)); /* Green background */
  border-radius: 10px;
  border: none;
  cursor: pointer; /* Cursor on hover */
  transition: background .2s;
}

.slider::-moz-range-thumb {
  width: 13px; /* Set a specific slider handle width */
  height: 13px; /* Slider handle height */
  background: rgb(var(--light));
  border-radius: 10px;
  border: none;
  cursor: pointer; /* Cursor on hover */
  transition: background .2s;
}

.wavesurfer-container {
  flex: 1;
  padding: 1em 1em 1em 0.5em;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background: linear-gradient(90deg, rgba(var(--dark), 0.4), rgba(var(--dark), 0.6));
}

.wavesurfer-container wave {
  cursor: pointer;
}

#waveform {
  flex: 1;
}

.preview-container {
  margin: 1em 0;
  width: 100%;
  position: relative;
}

.preview-container img {
  position: absolute;
  width: calc(25vw - 5rem);
  max-width: 12rem;
  opacity: 0.85;
  display: none;
}

.preview-container img.ychohiyw {
  left: 102%;
  top: 40%;
  transform: rotate(15deg);
}

.preview-container img.stream {
  right: 98%;
  top: -3em;
}


.tracklist {
  color: rgb(var(--dark));
  font-size: 2.8vw;
}

.tracklist ul {
  margin: 0;
  padding: 0;
  border-radius: 0 0 0.35em 0.35em;
  overflow: hidden;
  background-color: 
}

.tracklist ul li {
  list-style: none;
  position: relative;
}

.tracklist ul li input {
  appearance: none;
  display: none;
}

.tracklist ul li label {
  display: block;
  padding: 0.35em 1em;
  cursor: pointer;
  transition: background-color 0.5s;
}

.tracklist ul li label {
  background: rgba(var(--dark), 0.35);
}

.tracklist ul li button {
  position: absolute;
  top: 0;
  left: 100%;
  background: linear-gradient(90deg, transparent 0%, rgba(var(--accent2), 1) 2em, rgba(var(--accent2), 1) 100%);
  border: none;
  height: 101%;
  color: rgb(var(--light));
  transition: opacity 1s ease, color 0.5s;
  transform: translateX(-100%);
  white-space: nowrap;
  font-family: var(--serif);
  font-style: italic;
  font-size: 1em;
  padding: 0em 1em 0em 3em;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.tracklist ul li:nth-child(odd) label{
  background: rgba(var(--dark), 0.2);
}

.tracklist ul li input:checked + label {
  background: rgba(var(--accent2), 0.4);
}

footer {
  padding: 1em;
  position: relative;
}

footer p {
  color: rgb(var(--light));
  font-size: 0.6em;
  margin: 0;
  float: right;
  text-align: right;
}

footer p a {
  color: rgb(var(--accent));
}

footer svg {
  fill: rgb(var(--light));
  height: 2.5em;
}

@keyframes message-flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

.warning-message {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  min-width: 400px;
  width: 60vw;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background: rgb(var(--warning-dark));
  border: 2px solid rgb(var(--warning-light));
  box-shadow: 8px 8px 0px 0px rgb(var(--warning-accent));
  color: rgb(var(--warning-accent));
  animation: 1.5s step-end message-flash;
}

.hidden {
  display: none;
}

.warning-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(var(--warning-dark), 0.5);
  z-index: 999;
  animation: 0.3s linear fade-in;
}

.transition-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(var(--warning-dark), 1);
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 999;
  pointer-events: none;
}

.noscroll {
  overflow: hidden !important;
}

.warning-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  border-color: rgb(var(--warning-light));
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}

@keyframes header-flash {
  0% {
    color: rgb(var(--warning-light));
  }
  50% {
    color: rgb(var(--warning-accent));
  }
}

.warning-header h3 {
  margin: 0;
  text-align: center;
  flex: 1;
  font-weight: normal;
  animation: 1s step-end infinite header-flash;
  font-size: calc(1em + 2vw);
}

.warning-message p {
  color: rgb(var(--warning-light));
  font-size: calc(0.75em + 1vw);
  margin: 1em;
  text-align: center;
  text-transform: uppercase;
}

.warning-message button.close {
  background: rgb(var(--warning-dark));
  border: 2px solid rgb(var(--warning-light));
  display: inline;
  color: rgb(var(--warning-accent));
  font-family: var(--mono);
  font-size: calc(0.75em + 1vw);
  margin: 0em auto 1em;
  text-transform: uppercase;
  width: 50%;
  box-shadow: 4px 4px 0px 0px rgb(var(--warning-accent));
}

.warning-message button.close:hover {
  box-shadow: 8px 8px 0px 0px rgb(var(--warning-accent));
  transform: translate(-2px, -2px);
}

.warning-message button.close:active {
  box-shadow: 0px 0px 0px 0px rgb(var(--warning-accent));
  transform: translate(2px, 2px);
}

.warning-header button {
  background: none;
  border-color: rgb(var(--warning-light));
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  cursor: pointer;
}

.warning-message button svg {
  fill: rgb(var(--warning-light));
  width: 2.5em;
  height: 2.5em;
}

.warning-message button:hover svg {
  fill: rgb(var(--warning-accent));
}

@media (min-width: 768px) {

  .tracklist {
    font-size: 1em;
  }

  .section-header h2 {
    font-size: 2.2rem;
  }

  .section-header {
    width: calc(30em + 20%);
  }

  main .link-container {
    width: calc(30em + 20%);
  }

  main .container {
    padding: 0 calc(40vw - 10rem);
  }

  .preview-container img {
    display: inherit;
  }


}

@media (hover: hover) {
  .waveform-container button:hover {
    background: rgb(var(--accent));
  }

  .slider:hover::-webkit-slider-thumb {
    background: rgb(var(--accent));
  }

  .slider:hover::-moz-range-thumb {
    background: rgb(var(--accent));
  }

  .tracklist ul li:hover button {
    opacity: 1;
  }

  .tracklist ul li:hover button:hover {
    color: rgba(var(--light), 0.6);
  }

  .tracklist ul li:hover label {
    background: rgba(var(--accent2), 0.4);
  }

  .tracklist ul li button {
    display: inherit;
  }

}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
  }
}
